img.album_img {
	max-width: 50%;
	min-width: 30%;
}

body {
	padding-left: 5%;
	padding-right: 5%;
	color: #fff;
	font-family: HelveticaNeue-Light, arial;
	text-align: center;
}

h2 {
	color: #fff;
}

a {
	color: #fff;
}


/* Select Box Hax */
@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:30px;
        line-height:30px;
        background:#f4f4f4;
        font-size:1em;
    } 
}
select::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0!important;
    }
}        
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */        
    select {
        height:30px;
        line-height:30px;
        font-size:1em;
    }     
}