<footer class="site-footer">
    <!--  <h2 class="footer-heading">{{ site.title }}</h2> -->

  <div class="row">
    <div class="column">
      <ul class="contact-list">
        <!--<li>{{ site.title }}</li>-->
        <li><img src="/imgs/logo/riko-white.png" style="max-height:200px; max-width:250px"></li>
        <li><img src="/imgs/logo/contagious-records.png" style="max-height:200px; max-width:250px;"></li>
      </ul>
    </div>

    <div class="column">
        <!--      <p>{{ site.description }}</p>-->
        <h2>Follow on Social Media:</h2>
        <ul class="socials">
            <li><a href="https://twitter.com/djriko_uk" target="_blank"><i class="fab fa-twitter"></i> @DJRIKO_UK</a></li>
            <li><a href="https://www.facebook.com/RIKODJOFFICIAL/" target="_blank"><i class="fab fa-facebook-square"></i> RIKODJOFFICIAL</a></li>
            <li><a href="https://soundcloud.com/djrikouk" target="_blank"><i class="fab fa-soundcloud"></i> DJRIKOUK</a></li>
            <li><a href="mailto:{{ site.email }}"><i class="far fa-envelope-open"></i> Email</a></li>
        </ul>
    </div>
  </div>

</footer>
