<footer class="site-footer">

  <div class="row">
    <div class="column">
      <ul class="contact-list">
        <li><img src="/imgs/logo/riko-white.png" style="max-height:200px; max-width:250px" alt="Riko Logo"></li>
        <li><img src="/imgs/logo/contagious-records.png" style="max-height:200px; max-width:250px;" alt="Contagious Records logo"></li>
      </ul>
    </div>

    <div class="column">
        <h2>Follow on Social Media:</h2>
        <ul class="socials">
            <li><a href="https://twitter.com/djriko_uk" target="_blank"><i class="fab fa-twitter" title="Twitter"></i> @DJRIKO_UK</a></li>
            <li><a href="https://www.facebook.com/RIKODJOFFICIAL/" target="_blank"><i class="fab fa-facebook-square" title="Facebook"></i> RIKODJOFFICIAL</a></li>
            <li><a href="https://facebook.com/Contagious-Records/" target="_blank"><i class="fab fa-facebook-square" title="Facebook"></i> Contgagious Records</a></li>
            <li><a href="https://soundcloud.com/djrikouk" target="_blank"><i class="fab fa-soundcloud" title="Soundcloud"></i> DJRIKOUK</a></li>
            <li><a href="https://www.snapchat.com/add/rikodj" target="_blank"><i class="fab fa-snapchat" title="Snapchat"></i> RIKODJ</a></li>
            <li><a href="mailto:{{ site.email }}"><i class="far fa-envelope-open" title="Email"></i> Email</a></li>
        </ul>
    </div>
  </div>

</footer>
